@charset "UTF-8";

@font-face {
    font-family: 'Epilogue';
    src: url('../fonts/Epilogue-Regular.ttf');
}

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasKai.otf');
}

:root {
    --cor01: #4a241a;
    --cor02: #d1c5b5;
    --cor03: #fffefd;
    --cor04: #381531;
    --cor05: #4c2d4a;
    --cor06: #080808;
    --text: 'Epilogue', Arial, Helvetica, sans-serif;
    --title: 'Bebas', Arial, Helvetica, sans-serif;
}

* {
    font-family: var(--text);
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body, html {
    background-color: var(--cor03);

    width: 100%;
    height: 100vh;
}




/* & MENU DO SITE */



header {
    background-color: var(--cor02);
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 5%;
    
}

#logo {
    display: flex;
    align-items: center;
    color: var(--cor04);
    font-family: var(--title);
    font-weight: normal;
    font-size: 2em;
}

#nav_icon {
    cursor: pointer;
    color: red;
    width: 40px;
}

#nav-menu {
    display: none;
}


main {
    margin: auto;
}


/* & HERO DO SITE */



#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor02);
    border-radius: 0px 0px 30px 30px;

    padding: 70px 5% 30px;
}

#hero_illustration {
    width: 80%;
    max-width: 500px;
    margin: 0px auto 10px;
}

#hero_title {
    font-size: 1.5em;
    font-style: italic;
    color: var(--cor05);

    margin-bottom: 10px;
}

#hero_description {
    text-align: center;
}



/* & POEMAS ATUAIS DO SITE */


#current_poem_container {
    padding: 50px 5%;
}

#current_poem_title {
    color: var(--cor01);

    margin-bottom: 20px;
}

.current-poem-card {
    display: flex;
    justify-content: space-between;
    background-color: rgb(242, 242, 242);
    border-radius: 10px ;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.483);

    margin-bottom: 15px;
}

.current-poem-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px 0px 10px 20px;
}

.current-poem-card-title {
    font-family: var(--title);
    color: var(--cor05);
    font-size: 1.5em;
}

.current-poem-description {
    font-style: italic;
    font-size: 0.8em;
}

.current-poem-img {
    display: block;
    border-radius: 100px 10px 10px 0px;

    width: 120px;
}



/* & ARTISTAS DO SITE */


#artists_container {
    padding: 50px 5%;
}

#artists_title {
    color: var(--cor01);

    margin-bottom: 20px;
}

.artists {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    
    to {
        transform: translateX(-100%);
    }
}

.artists-slide {
    display: flex;
    animation: slide 30s infinite linear;
}

.artist-name {
    text-align: center;
}

.artists-slide img {
    border-radius: 100%;

    width: 200px;
    height: 200px;
    margin: 0px 20px;
}







/* & FOOTER DO SITE */

footer {
    display: flex;
    flex-direction: column;
    color: var(--cor03);
    background-color: var(--cor06);

    padding: 0px 40px;
}

.logo_footer {
    max-width: 80px;
}

.footer-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;

    padding: 20px 0px 10px;
    margin-bottom: 30px;
}

.footer-logo-title {
    font-family: var(--title);
    font-weight: normal;
}

.footer-logo-description {
    font-style: italic;
    font-size: 0.5em;
}


/* & FOOTER DO SITE - MENU */

.footer-menu-container {
    border-bottom: 1px solid var(--cor03);

    padding-bottom: 10px;
    margin-bottom: 30px;
}

.footer-title {
    font-size: 1.2em;

    margin-bottom: 10px;
}

.footer-menu-item {
    margin-bottom: 10px;
}

.footer-menu-link {
    color: var(--cor03);
}

.footer-menu-link:hover {
    text-decoration: underline;
}


/* & FOOTER DO SITE - REDES SOCIAIS */

.footer-social-media-container {
    border-bottom: 1px solid var(--cor03);

    padding-bottom: 20px;
    margin-bottom: 30px;
}

.footer-social-media-list {
    display: flex;
    gap: 20px;
}

.footer-social-media-img {
    width: 30px;
}


#footer-coypright {
    color: rgba(255, 255, 255, 0.534);
    font-size: 0.9em;
    text-align: center;

    padding: 10px;
}